@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

html {
  --map-tiles-filter: invert(0) brightness(0.9) grayscale(0.7);
  --map-background: rgb(167, 170, 173);
  --map-control-background-color: rgba(214, 222, 234, 0.8);
  --map-control-border-color: 2px solid rgba(30, 41, 59, 0.393);
  --map-control-icons-color: rgba(43, 61, 79, 0.8);
  --map-tooltip-background-color: rgb(214, 222, 234);
  --map-tooltip-text-color: #1c2b3b;
}
html.dark {
  --map-tiles-filter: invert(1) brightness(0.7) grayscale(1);
  --map-background: rgb(14, 17, 21);
  --map-control-background-color: rgba(43, 61, 79, 0.8);
  --map-control-border-color: 2px solid rgba(30, 41, 59, 0.3);
  --map-control-icons-color: rgb(212, 206, 206);
  --map-tooltip-background-color: rgb(43, 61, 79, 1);
  --map-tooltip-text-color: rgb(234, 237, 241);
}

.map-tiles {
  filter: var(--map-tiles-filter);
  content: "aaa";
}

/* Leaflet Tooltip */

.leaflet-tooltip-top:before {
  border-top-color: var(--map-tooltip-background-color) !important;
}
.leaflet-tooltip-bottom:before {
  border-bottom-color: transparent !important;
}

.leaflet-tooltip.custom-tooltip {
  position: absolute !important;
  padding: 3px !important;
  background: var(--map-tooltip-background-color);
  border: 0px solid rgba(255, 255, 255, 0.8);
  color: var(--map-tooltip-text-color);
  font-weight: 500;
  white-space: nowrap !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  pointer-events: none !important;
  box-shadow: 0 1px 3px rgba(100, 100, 100, 0.5);
}

/* Leaflet Popup */

.custom-popup.train-stop .leaflet-popup-tip-container {
  padding: 1px;
  width: 34px;
}

.custom-popup .leaflet-popup-content-wrapper {
  background: var(--map-tooltip-background-color);
  color: var(--map-tooltip-text-color);
  font-size: 12px;
}

.custom-popup .leaflet-popup-content-wrapper p {
  margin: 2px !important;
}

.custom-popup.station-popup .leaflet-popup-content-wrapper {
  background: var(--map-tooltip-background-color);
  color: var(--map-tooltip-text-color);
  font-size: 13px !important;
}

.custom-popup .leaflet-popup-content-wrapper a {
  color: rgba(255, 255, 255, 0.5);
}
.custom-popup .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}
.custom-popup .leaflet-popup-tip {
  background: var(--map-tooltip-background-color);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 14px solid var(--map-tooltip-background-color);
}

.leaflet-popup-content {
  margin: 14px 14px 14px 14px !important;
}

.leaflet-control {
  border: var(--map-control-border-color) !important;
  border-width: 1px !important;
  background: var(--map-control-background-color) !important;
  color: var(--map-control-icons-color) !important;
  border-radius: 6px !important;
  overflow: hidden !important;
}

.leaflet-control a {
  color: var(--map-control-icons-color) !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background: none !important;
}
.leaflet-control-zoom-in span,
.leaflet-control-zoom-out span {
  color: var(--map-control-icons-color) !important;
}

.leaflet-bar a:first-child {
  border-bottom: var(--map-control-border-color) !important;
  border-bottom-width: 1px !important;
}

.leaflet-container {
  background: var(--map-background) !important;
  outline: 0;
}

.inputBlur::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(5px);
  pointer-events: none;
}
